# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'

df = pd.read_csv(url)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
df.loc[: ,'school' : 'guardian']

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,15,U,LE3,T,4,4,health,services,course,father
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,15,U,GT3,A,2,2,other,other,home,other
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother
19,GP,M,16,U,LE3,T,4,3,health,other,home,father
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother
21,GP,M,15,U,GT3,T,4,4,health,health,other,father
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother
366,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother
367,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother
368,MS,F,18,U,GT3,T,2,3,at_home,services,course,father
369,MS,F,18,R,GT3,T,4,4,other,teacher,other,father
370,MS,F,19,U,LE3,T,3,2,services,services,home,other
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father
372,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother
373,MS,F,17,R,GT3,T,1,2,other,other,course,mother
374,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother
375,MS,F,18,R,GT3,T,1,1,other,other,home,mother
376,MS,F,20,U,GT3,T,4,2,health,other,course,other
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother
378,MS,F,18,U,GT3,T,3,3,other,other,home,mother
379,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father
381,MS,M,18,R,GT3,T,2,1,other,other,other,mother
382,MS,M,17,U,GT3,T,2,3,other,services,home,father
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother
384,MS,M,18,R,GT3,T,4,2,other,other,home,father
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother
388,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother
389,MS,F,18,U,GT3,T,1,1,other,other,course,mother
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 5. Create a lambda function that captalize strings.

### Step 6. Capitalize both Mjob and Fjob

### Step 7. Print the last elements of the data set.

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise